<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Employees</a>
        <ul>
            <li><a href = "/authors">Recruiter</a></li>
            <li><a href = "/authors/new">Add Recruiter</a></li>
            <li><a href = "/books">Employees</a></li>
            <li><a href = "/books/new">Add Employees</a></li>
        </ul>
    </nav>
</header>